@font-face {
  font-family: "NotoSansKR";
  src: url(../../assets/font/NotoSansKR-Regular.otf) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../../assets/font/NotoSansKR-Medium.otf) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../../assets/font/NotoSansKR-Bold.otf) format("woff");
  font-weight: 700;
}