@import "common";

.inner{
  width: 1250px;
  margin: auto;
}

header{
  position: relative;
  .inner{
    // ---------------------    sub_nav   (S)    -------------------------
    .sub_nav{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      height: 38px;
      > li{
        position: relative;
        height: 28px;
        &:not(:first-child):after{
          content: "";
          position: absolute;
          top: 10px;
          width: 1px;
          height: 8px;
          background-color: #a3a3a3;
        }
        a{
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 10px;
          color: #767676;
          font-size: 1.5rem;
          &:hover{
            color: #28b2a5;
          }
        }
      }
      .direct_box{
        margin:0 5px 0 30px;
        button{
          display: flex;
          align-items: center;
          border: none;
          background-color: transparent;
        }
        // ------다이렉트보험 클릭시 팝업창 (S)-----
        &::before{
          content: "";
          display: none; //block으로 바뀌어야함
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.5);
          z-index: 1000;
        }
        ul{
          display: none; //block으로 바뀌어야함
          position: absolute;
          top: 33px;
          right: 5px;
          width: 410px;
          padding: 11px 15px 10px;
          border: 2px solid #009090;
          background-color: #fff;
          z-index: 2000;
          li{
            padding: 19px 20px 20px 85px;
            background: no-repeat left 20px center/45px;
            &:not(:last-child){
              border-bottom: 1px dashed #ddd;
            }
            a{
              font-size: 1.8rem;
              color: #555;
              font-weight: 500;
              letter-spacing: -0.05em;
              &:hover{
                text-decoration: underline;
              }
              span{
                font-size: 1.4rem;
                color: #767676;
                .red{
                  color: #ed1651;
                }
              }
            }
          }
          .direct_type1{
            background-image: url(../../assets/img/icon_go1.png); 
          }
          .direct_type2{
            background-image: url(../../assets/img/icon_go2.png); 
          }
          .direct_type3{
            background-image: url(../../assets/img/icon_go3.png); 
          }
          .direct_type4{
            background-image: url(../../assets/img/icon_go5.png); 
          }
          // ------다이렉트보험 클릭시 팝업창 (E)-----
        }
      }
    }
// ---------------------    sub_nav   (E)    -------------------------
// ---------------------    nav   (S)    -------------------------
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      h1{
        flex-grow: 4;
      }
      > .depth1{
        display: flex;
        align-items: center;
        > li{
          display: flex;
          align-items: center;
          height: 70px;
          > a{
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0 12px;
            padding: 20px 18px 19px;
            color: #333;
            font-size: 2.1rem;
            font-weight: 600;
            &:hover{
              color: #009591;
            }
          }
          // -------드롭다운메뉴 (S)-----
          &:hover .dropdown_menu{
            display: block;
          }
          .dropdown_menu{
            display:none;
            position: absolute;
              top: 100px;
              left: 0;
              right: 0;
              height: 459px;
              border-top:1px solid #ddd ;
              border-bottom: 2px solid #009591;
              background-color: #f9fbfa;
              z-index: 1000;
            .depth2{
              display: flex;
              justify-content: space-between;
              width: 1250px;
              margin: auto;
              h2{
                width: 255px;
                padding: 25px 0;
                font-size: 2.2rem;
                font-weight: 400;
                color: #333;
                background: no-repeat top center/100%;
                text-align: left;
                span{
                  display: block;
                  padding: 10px 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #767676;
                  line-height: 24px;
                }
              }
              .dropdown_img1{
                background-image: url(../../assets/img/img_navBg1.jpg);
              }
              .dropdown_img2{
                background-image: url(../../assets/img/img_navBg2.jpg);
              }
              .dropdown_img3{
                background-image: url(../../assets/img/img_navBg3.jpg);
              }
              .dropdown_img4{
                background-image: url(../../assets/img/img_navBg4.jpg);
              }
              .dropdown_img5{
                background-image: url(../../assets/img/img_navBg5.jpg);
              }
              > li{
                flex-grow: 1;
                height: 455px;
                padding: 25px 10px;
                transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
                &:hover{
                  background-color: #e9f7f7;
                  border-left: 1px solid #ddd;
                  border-right: 1px solid #ddd;
                }
                > a{
                  display: inline-block;
                  padding: 5px 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  color: #555;
                  letter-spacing: -1px;
                }
                .depth3{
                  padding: 10px 0;
                  li{
                    padding: 5px 0;
                    a{
                      display: inline-block;
                      font-size: 1.4rem;
                      color: #555;
                      letter-spacing: -1.5px;
                      &:hover{
                        color: #009591;
                        text-decoration: underline;
                      }
                    }
                  }
                }
                // -------드롭다운메뉴 (E)-----
              }
            }
          }
        }
      }
      .search_box{
        position: relative;
        .search_btn{
          display: flex;
          align-items: center;
          margin: 0 30px;
          border: none;
          background-color: transparent;
        }
        // --------검색창 클릭시 (S)---------------
        &::before{
          content: "";
          display: none; //block으로 바뀌어야함
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.5);
          z-index: 1000;
        }
        .detail_search_box{
          display: none; //block으로 바뀌어야함
          position: absolute;
          top: 40px;
          right: 30px;
          width: 612px;
          height: 600px;
          padding: 0 0 90px;
          font-size: 1.4rem;
          color: #555;
          border-radius: 10px;
          background-color: #f9f9fb;
          z-index: 2000;
          form{
            height: 70px;
            background-color: #fff;
            border-radius: 10px 10px 0 0;
            fieldset{
              display: flex;
              justify-content: space-between;
              border: none;
              border-bottom: 1px solid #009591;
              input{
                padding: 10px 30px;
                width: 507px;
                height: 70px;
                font-size: 2rem;
                font-weight: 400;
                color: #333;
                border: none;
                border-radius: 10px 0 0;
                appearance: none;
                letter-spacing: -0.05em;
              }
              button{
                width: 70px;
                height: 70px;
                border: none;
                background: transparent url(../../assets/img/main_search.png) no-repeat right 30px center/ 30px;
              }
            }
          }
          .issue_list{
            padding: 40px 30px 0;
            strong{
              font-size: 2rem;
              color: #333;
            }
            ul{
              margin: 26px 0 0;
              li{
                margin: 0 0 18px;
                .num{
                  margin: 0 11px 0 0;
                  font-size: 1.8rem;
                  color: #009591;
                }
                a{
                  font-size: 1.8rem;
                  color: #555;
                  letter-spacing: -0.05em;
                  &:hover{
                    color: #009591;
                    text-decoration: underline;
                    text-underline-position: under;
                  }
                }
              }
            }
          }
        }
        // --------검색창 클릭시 (E)---------------
      }
      .all_nav_btn{
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
      }
      // ---------팝업메뉴 클릭시(S)----------------
      &::before{
        content: "";
        display: none; //block으로 바뀌어야함
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1000;
      }
      .popup_menu{
        display: none; //flex으로 바뀌어야함
        position: absolute;
        top: 130px;
        left: 450px;
        z-index: 2000;
        .menu_tab{
          width: 200px;
          height: 710px;
          padding: 20px 0 148px;
          background-color: #e5f4f4;
          h2{
            padding-left: 37px;
            font-size: 2rem;
            font-weight: 500;
            color: #009591;
            line-height: 52px;
          }
          .all_menu_list{
            li{
              position: relative;
              height: 48px;
              margin-bottom: 1px;
              a{
                display: block;
                position: absolute;
                left: 20px;
                width: 180px;
                height: 48px;
                padding-left: 17px;
                font-size: 1.8rem;
                font-weight: 500;
                color: #333;
                line-height: 48px;
                &:hover{
                  width: 200px;
                  color: #fff;
                  background-color: #009591;
                  text-decoration: underline;
                }
              }
              .active{
                width: 200px;
                color: #fff;
                background-color: #009591;
              }
            }
          }
        }
        .menu_depth{
          div{
            display: none;
            width: 824px;
            height: 710px;
            padding: 15px 40px 0 57px;
            background-color: #fff;
            h3{
              font-size: 2.2rem;
              font-weight: 500;
              color: #333;
              line-height: 52px;
              border-bottom: 2px solid #555;
            }
            .depth1{
              display: flex;
              flex-wrap: wrap;
              li{
                width: 242px;
                > a{
                  display: block;
                  margin: 7px 0 5px;
                  font-size: 1.8rem;
                  font-weight: 500;
                  color: #333;
                  line-height: 39px;
                  &:hover{
                    color: #009591;
                    text-decoration: underline;
                  }
                }
                .depth2{
                  li{
                    a{
                      display: flex;
                      align-items: center;
                      height: 14px;
                      padding: 5px 0 11.5px;
                      font-size: 1.4rem;
                      font-weight: 400;
                      color: #555;
                      &:hover{
                        color: #009591;
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }
          }
          .popup_menu01{
            display: block;
          }
        }
        .close_btn{
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background-color: transparent;
        }
      }
    }
    // ---------팝업메뉴 클릭시(E)----------------
  }
}
// ---------------------    nav   (E)    -------------------------

main{
  .inner{
    //----------------------메인배너 (S)----------------------
    .main_banner{
      position: relative;
      width: 100%;
      height: 100%;
      margin-top: 10px;
      .gallery_box{
        display: flex;
        overflow: hidden;
        .gallery_item{
          position: relative;
          > a{
            position: absolute;
            top: 49.5%;
            border-radius: 30px;
            width: 13.84%;
            height: 10.22%;
            margin-right: 10px;
            &:hover{
              background-color: #333;
              opacity: 0.08;
            }
          }
          .banner_btn1{
            left: 12.8%;
          }
          .banner_btn2{
            left: 27.45%;
          }
          .banner_btn3{
            left: 12.8%;
          }
        }
      }
      .control_box{
        button{
          position: absolute;
          top: calc(50% - 40px);
          width: 2.64%;
          height: 11.32%;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
        .prev_btn{
          left: 30px;
        }
        .next_btn{
          right: 30px;
        }
      }
      .dot_list{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        cursor: pointer;
        .dot_item{
          width: 10px;
          height: 10px;
          margin: 0 3px;
          transition: opacity .2s ease;
          background-color: #ccc;
          border-radius: 30px;
          button{
            background-color: transparent;
            border: none;
          }
        }
        .blue{
          background-color: #35c7be;
          width: 30px;
        }
      }
    }
    //----------------------메인배너 (E)----------------------
    // -------------------- 퀵메뉴 (S)---------------------------
    .quick_menu{
      margin: 37px 0 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #eaeaea;
      article{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 270px;
        padding: 40px 60px;
        border-radius: 40px;
        box-shadow: 1px 1px 12px 0 rgba(0 ,0 ,0 , 0.15);
        h3{
          width: 1130px;
          height: 37px;
          padding-bottom: 15px;
          color: #28b2a5;
          font-size: 2.1rem;
          font-weight: 500;
          letter-spacing: -0.08em;
          border-bottom: 1px solid #eaeaea;
          > span{
            margin-left: 20px;
            color: #333;
            font-size:1.8rem;
            font-weight: 500;
            letter-spacing: -0.08em;
          }
        }
        > ul{
          display: flex;
          justify-content: center;
          width: calc(100% - 60px);
          > li{
            width: 80px;
            margin: 30px 60px 0 0;
            &:last-child{
              margin-right: 0;
            }
            > a{
              display: flex;
              justify-content: center;
              position: relative;
              padding-top: 100px;
              font-size: 1.6rem;
              font-weight: 500;
              background: url(../../assets/img/main_quick_ul_1.png) no-repeat left top/640px 80px;
              transition: all 0.2s ease;
              letter-spacing: -0.08em;
              text-align: center;
              word-break: keep-all;
              &:hover{
                color: #009591;
              }
            }
            .helf_item2{
              background-position-x: -80px;
            }
            .helf_item3{
              background-position-x: -160px;
            }
            .helf_item4{
              background-position-x: -240px;
            }
            .helf_item5{
              background-position-x: -320px;
            }
            .helf_item6{
              background-position-x: -400px;
            }
            .helf_item7{
              background-position-x: -480px;
            }
            .helf_item8{
              background-position-x: -560px;
            }
          }
        }
      }
      .menu01{
        a{
          &::before{
            content: "";
            position: absolute;
            top: -4px;
            left: 0;
            width: 79px;
            height: 79px;
            border: solid rgba(56, 1244, 198, 0.5);
            border-width: 7px 5px 0 0;
            border-radius: 100%;
            z-index: 1;
            opacity: 0;
          }
          &:hover:before{
            transform: rotate(45deg);
            transition: all 0.5s;
            opacity: 1;
          }
          &::after{
            content: "";
            position: absolute;
            top: -4px;
            left: 0;
            width: 79px;
            height: 79px;
            border: 5px solid rgba(255, 249, 84, 0.5);
            border-width: 0 0 5px 7px;
            border-radius: 100%;
            opacity: 0;
          }
          &:hover:after{
            transform: rotate(156deg);
            transition: all 0.5s;
            opacity: 1;
          }
        }
      }
      .menu02{
        position: relative;
        margin-top: 40px;
        li{
          width: 90px;
          margin: 30px 50px 0 0;
          background: url(../../assets/img/main_icon_bg.png) no-repeat left bottom 34px/90px 54px;
          .find_item1{
            background: url(../../assets/img/main_icon_01.png) no-repeat center top 15px;
            &:hover{
              background-position: left bottom 38px;
            }
          }
          .find_item2{
            background: url(../../assets/img/main_icon_02.png) no-repeat center top 19px;
            &:hover{
              background-position: center top 9px;
            }
          }
          .find_item3{
            background: url(../../assets/img/main_icon_03.png) no-repeat center top 10px;
            &:hover{
              background-position: center top 5px;
            }
          }
          .find_item4{
            background: url(../../assets/img/main_icon_04.png) no-repeat center top 4px;
            &:hover{
              background-position: center top -1px;
            }
          }
          .find_item5{
            background: url(../../assets/img/main_icon_05.png) no-repeat center top 6px;
            &:hover{
              background-position: center top 1px;
            }
          }
          .find_item6{
            background: url(../../assets/img/main_icon_06.png) no-repeat center top 3px;
            &:hover{
              background-position: left 10px bottom 45px;
            }
          }
          .find_item7{
            background: url(../../assets/img/main_icon_07.png) no-repeat center top 14px;
            &:hover{
              background-position: center top 9px;
            }
          }
          .find_item8{
            background: url(../../assets/img/main_icon_08.png) no-repeat center top 6px;
            &:hover{
              background-position: center top 1px;
            }
          }
        }
      }
      // -------------------- 퀵메뉴 (E)---------------------------
    }
    .main_content{
      // --------------------- 가이드 박스(S) -----------------------------
      .guide_box{
        display: flex;
        // --- left box ----
        .left_box{
          display: flex;
          width: calc(66.4% - 0.8%);
          height: 162px;
          margin-right: 20px;
          padding: 20px 40px;
          border-radius: 25px;
          box-shadow: 1px 1px 12px 0 rgba(0 ,0 ,0 , 0.08);
          > li{
            width: 369.5px;
            height: 120px;
            background: url(../../assets/img/main_quick_ul_3_2.png) no-repeat right  center/ 120px;
            &:first-child{
              background-image: url(../../assets/img/main_quick_ul_3_1.png);
              background-position: right 38px center;
              border-right: 2px solid #eaeaea;
            }
            > a{
              display: block;
              width: 249.5px;
              height: 126px;
              margin-bottom: 11px;
              padding: 10px 0;
              font-size: 2rem;
              font-weight: 500;
              color: #333;
              line-height: 25px;
              letter-spacing: -0.08em;
              &:hover{
                color: #009591;
              }
              .gray{
                display: block;
                margin-bottom: 8px;
                font-size: 1.6rem;
                color: #888;
                line-height: 1;
              }
              > p{
                display: block;
                width: 62px;
                margin-top:3px;
                padding-right: 13px;
                font-size: 1.4rem;
                color: #009591;
                border-bottom: 1px solid #009591;
                background: url(../../assets/img/btn_arrow_R_g.png) no-repeat right top 5px/ 5px 9px;
                line-height: 17px;
                letter-spacing: -0.05em;
              }
            }
            .right{
              padding: 10px 0 10px 40px;
            }
          }
        }
           // --- right box ----
        .right_box{
          display: flex;
          justify-content: space-between;
          align-content:space-between;
          flex-wrap: wrap;
          > li{
            display: flex;
            width: 200px;
            height: 76px;
            padding: 0 23px;
            border-radius: 25px;
            box-shadow: 1px 1px 12px 0 rgba(0 ,0 ,0 , 0.08);
            > span{
              display: block;
              width: 29px;
              height: 76px;
              background: url(../../assets/img/main_quick_ul_4.png) no-repeat left center/124px 31px;
            }
            a{
              display: flex;
              align-items: center;
              width: 126px;
              padding: 5px 0 0 8px;
              font-size: 1.6rem;
              font-weight: 500;
              color: #333;
              letter-spacing: -0.08em;
              background: url(../../assets/img/main_link_arr.png) no-repeat right top 33px/ 7px 12px;
              &:hover{
                color: #009591;
              }
            }
          }
          .guide_item02{
            > span{
              background-position-x: -31px;
            }
          }
          .guide_item03{
            > span{
              background-position-x: -62px;
            }
          }
          .guide_item04{
            > span{
              background-position-x: -93px;
            }
          }
        }
      }
      // --------------------- 가이드 박스(E) -----------------------------
      // --------------------- 스크롤 박스(S) -----------------------------
      .scroll_box{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        aside{
          display: flex;
          width: 615px;
          height: 73px;
          padding: 23px 40px;
          border-radius: 25px;
          box-shadow: 1px 1px 12px 0 rgba(0 ,0 ,0 , 0.08);
          > h3{
            display: flex;
            align-items: center;
            width: 100px;
            font-size: 1.8rem;
            font-weight: 500;
            color: #333;
            letter-spacing: -0.025em;
          }
          > ul{
            width: 382px;
            overflow: hidden;
            > li{
              display: flex;
              align-items: center;
              height: 27px;
              > a{
                font-size: 1.6rem;
                color: #666;
                letter-spacing: -0.08em;
                &::before{
                  content: "";
                  display: inline-block;
                  width: 3px;
                  height: 3px;
                  margin-right: 6px;
                  background-color: #009591;
                  border-radius: 30px;
                  vertical-align: middle;
                }
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
          > a{
            display: block;
            position: relative;
            width: 53px;
            padding-left: 15px;
            font-size: 1.6rem;
            color: #009591;
            letter-spacing: -0.025em;
            &::before{
              content: "+";
              position: absolute;
              left: 0;
              top: 1px;
            }
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      // --------------------- 스크롤 박스(E) -----------------------------
      // --------------------- 이벤트 박스 슬라이드(S) --------------------
      .event_box{
        position: relative;
        width: 100%;
        height: 300px;
        margin: 30px 0;
        .gallery_box{
          border-radius: 25px;
          box-shadow: 1px 1px 12px 0 rgba(0 ,0 ,0 , 0.08);
          overflow: hidden;
          .gallery_list{
            display: flex;
          }
        }
        .control_box{
          button{
            position: absolute;
            top: 130px;
            width: 20px;
            height: 38px;
            border: none;
            background-color: transparent;
            cursor: pointer;
          }
          .prev_btn{
            left: 25px;
          }
          .next_btn{
            right: 25px;
          }
        }
        .dot_list{
          display: flex;
          align-items: center;
          position: absolute;
          top: 23px;
          right: 20px;
          .dot_item{
            button{
              width: 24px;
              height: 24px;
              margin: 0 2.5px;
              font-size: 1.3rem;
              font-weight: 500;
              color: #fff;
              background-color: #ddd;
              border-radius: 50%;
              border: none;
            }
            .active{
              width: 30px;
              height: 30px;
              background-color: #28b2a5;
              border: 1px solid #28b2a5;
            }
          }
        }
      }
      // --------------------- 이벤트 박스 슬라이드(E) --------------------
    }
    // --------------------------- num 박스 (S) ---------------------------
    .num_box{
      display: flex;
      justify-content: space-between;
      margin-bottom: 77px;
      > ul{
        display: flex;
        width: 820px;
        height: 300px;
        padding: 40px;
        border-radius: 25px;
        box-shadow: 1px 1px 12px 0 rgba(0 ,0 ,0 , 0.08);
        >li{
          h3{
            height: 19px;
            font-size: 1.6rem;
            font-weight: 500;
            color: #333;
            letter-spacing: -0.08em;
          }
        }
        // ---- left box ----
        .left_box{
          position: relative;
          width: 369px;
          padding-right: 30px;
          border-right: 2px solid #eaeaea;
          cursor: pointer;
          strong{
            display: block;
            margin-top: 15px;
            font-size: 3.2rem;
            font-weight: 700;
            color: #009591;
          }
          p{
            margin-top: 8px;
            font-size: 1.5rem;
            color: #666;
            letter-spacing: -0.08em;
            line-height: 22px;
            span{
              margin-right: 8px;
              font-size: 1.5rem;
              color: #666;
              letter-spacing: -0.08em;
              line-height: 22px;
            }
          }
          .bottom_btn{
            display: block;
            width: 100%;
            height: 80px;
            margin-top: 22px;
            padding: 18px 0 17px 90px;
            font-size: 1.5rem;
            color: #555;
            background: #f9f9fb url(../../assets/img/icon_dots.png) no-repeat left 20px center;
            border-radius: 10px;
            letter-spacing: -0.08em;
            span{
              display: block;
              margin-top: 5px;
              font-size: 1.8rem;
              font-weight: 500;
              color: #009591;
              letter-spacing: -0.08em;
            }
            &::after{
              content: "";
              position: absolute;
              top: 175px;
              right: 40px;
              width: 30px;
              height: 30px;
              background: url(../../assets/img/img_golink.png) no-repeat;
            }
          }
          .btn_ars{
            display: block;
            position: absolute;
            top: 0;
            right: 30px;
            width: 95px;
            height: 34px;
            padding: 8px 25px 8px 14px;
            font-size: 1.4rem;
            font-weight: 400;
            color: #fff;
            border-radius: 10px;
            background: #009591 url(../../assets/img/ico_arr_w.png) no-repeat right 10px center/ 5px;
            text-align: center;
            line-height: 1.3;
            letter-spacing: -0.025em;
          }
        }
        // ---- right box ----
        .right_box{
          display: flex;
          flex-wrap: wrap;
          width: 369px;
          padding-left:30px;
          > span{
            height: 19px;
            margin-left: 20px;
            font-size: 1.5rem;
            color: #666;
            letter-spacing: -0.08em;
            line-height: 22px;
            > span{
              margin-right: 8px;
              font-size: 1.5rem;
              color: #666;
              letter-spacing: -0.08em;
              line-height: 22px;
            }
          }
          dl{
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: 177px;
            margin-top: 25px;
            padding: 27px;
            background-color: #f9f9fb;
            border-radius: 10px;
            dt{
              width: 124px;
              font-size: 1.5rem;
              color: #555;
              letter-spacing: -0.08em;
            }
            dd{
              font-size: 1.8rem;
              font-weight: 500;
              color: #009591;
              letter-spacing: -0.025em;
            }
          }
        }
      }
      // --------------------------- num 박스 (E) --------------------------
      // -------------------- last banner 박스 슬라이드 (S) ----------------
      .last_banner{
        position: relative;
        width: 410px;
        height: 300px;
        overflow: hidden;
        border-radius: 25px;
        .gallery_list{
          display: flex;
        }
        .control_box{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 20px;
          bottom: 20px;
          width: 80px;
          height: 24px;
          padding: 0 10px;
          background-color: rgba(17,17,17,0.3);
          border-radius: 50px;
          button{
            width: 5px;
            background-color: transparent;
            border: none;
            img{
              width: 100%;
            }
          }
          .counter{
            margin: 0 10px;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 700;
            .count{
              color: #fff;
            }
          }
        }
      }
      // -------------------- last banner 박스 슬라이드 (E) ----------------
    }
  }
}

footer{
  // ---------------------    footer topbox   (S)    -------------------------
  position: relative;
  width: 100%;
  height: 245px;
  border-top: 1px solid #e5e5e5;
  background-color: #f9f9fb;
  .inner{
    .top_box{
      display: flex;
      > li{
        position: relative;
        width: 12.2%;
        height: 50px;
        border-left: 1px solid #e5e5e5;
        > a{
          display: block;
          padding: 15px 0 15px 20px;
          font-size: 1.4rem;
          font-weight: 400;
          color: #555;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .blue{
        width: 14.2%;
        a{
          color: #009591;
        }
      }
      .add_list{
        width: 17.2%;
        button{
          width: 100%;
          padding: 15px 0 15px 20px;
          font-size: 1.4rem;
          font-weight: 400;
          color: #555;
          border: none;
          background: transparent url(../../assets/img/icon_selectDown2.png) no-repeat right center;
          text-align: left;
          &:hover{
            text-decoration: underline;
          }
        }
        > ul{
          display: none; //block으로 바뀌어야함
          position: absolute;
          bottom: 50px;
          left: -1px;
          width: calc(100% + 2px);
          border: 1px solid #e5e5e5;
          z-index: 100;
          background-color: #f6f9fe;
          > li{
            padding: 5px 10px;
            > a{
              font-size: 1.3rem;
              color: #555;
              letter-spacing: -0.1px;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
      .two_list{
        width: 15.8%;
      }
      .footer_slider{
        width: 16.2%;
        border-right: 1px solid #e5e5e5;
        > ul{
          display: flex;
          overflow: hidden;
        }
      }
      &::after{
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
      }
    }
  // ---------------------    footer topbox   (E)    -------------------------  
  // ---------------------    footer underbox   (S)    -------------------------
    .under_box{
      display: flex;
      .footer_logo{
        display: block;
        width: 224px;
        height: 39px;
        padding-top: 36px;
      }
      address{
        width: calc(100% - 544px);
        height: 89px;
        padding-top: 24px;
        font-style: normal;
        > ul{
          display: flex;
          flex-wrap: wrap;
          > li{
            position: relative;
            height: 24px;
            padding-right: 26px;
            font-size: 1.3rem;
            font-weight: 400;
            color: #555;
          }
          .right_line::after{
            content: "|";
            position: absolute;
            top: 2px;
            right: 12px;
            font-size: 1rem;
          }
        }
      }
      > ul{
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
        width: 320px;
        height: 89px;
        > li{
          margin: 0 3.8px;
          &:first-child{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 84px;
            height: 32px;
            border: 1px solid #a6b2c4;
            border-radius: 16px;
            a{
              font-size: 1.4rem;
              color: #626d7f;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    // ---------------------    footer underbox   (E)    -------------------------
    .footer_award{
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
    }
  }
}